body {
    height: 100vh; /*Establecemos la altura máxima de la web*/

    margin: 0;    /*Establecemos que el punto de inicio de lectura es 0,0*/
    padding: 0;

    background-color: gray;  /*Establecemos el color de fondo*/

    display: flex;  
    align-items: center;
    justify-content: center;
}

#main{        /*Establecemos la superficie del tapete de juego*/    
    height: 40em;
    width: 80em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 2em;
    border-style: dashed;
    border-color: darkblue;
    background-color: lightseagreen;

    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
}

#screenBoard1 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

#screenBoard2 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: orange;

    display: none;
    justify-content: center;
    align-items: center;
}

#screenBoard3 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: yellow;

    display: none;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;  
}

#screenBoard4 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: green;

    display: none;
    justify-content: center;
    align-items: center;
}

#screenBoard5 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: blue;

    display: none;
    justify-content: center;
    align-items: center;
}

#screenBoard6 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: indigo;

    display: none;
    justify-content: center;
    align-items: center;
}

#screenBoard7 {
    height: 38em;
    width: 78em;
    border-radius: 2em 2em 2em 2em;

    background-color: violet;

    display: none;
    justify-content: center;
    align-items: center;
}

.logo {   /*imagem que clickas en primera pantalla*/
    height: 25em;
    width: 25em;    
    border-radius: 2em 2em 2em 2em;
} 

.warriors { /*contenedor de guerreros para seleccionar*/
    display: flex;

    height: 38em;
    width: 80em;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.warrior { /*guerreros para seleccionar*/    
    /* height: 12em;
    width: 6em;    */
}

.pic {
    height: 11em;
    width: 10em;
  
    border-radius: 2em 2em 2em 2em;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
 
/******************************************************/
.chosenWarriors  {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}
.fotoVersus {
    height: 10em;

}

.hijoVersus {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

